body {
  font-family: 'Arimo', sans-serif;
  line-height: 20px;
}

.logo {
    height: 160px;
    margin: auto;
    display: block;
    opacity: .8;
}

.navbar-tabs{
/*    background-color:rgba(255, 255, 255, 0.8);*/
    min-height: 2px;
}

li.tab {
    display: inline-block;
}

.navbar-tabs {
    padding: 10px 0px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.navbar-tabs a:hover {
  color: white; 
}

.navbar-tabs a {
  text-decoration: none;
  color: black;
  padding: 0px 10px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.active {
  color: blue;
}

.content {
 padding: 25px; 
}

h1 {
 line-height: 50px;
 font-size: 25px;
 text-align: center;
}

p {
 padding-bottom: 10px; 
 font-size: 14px;
 line-height: 17px;
}

.cover {height: 100%; width: 100%;}