<h1>About Us</h1>
<div class="col-6">
  <img width=100% src="img/lab.jpg">
</div>
<div class="col-6">
  <p>
Our lab is interested in the ecological, evolutionary, and epidemiological study of vector-borne diseases in North America with a focus on pathogens expanding their ranges in Texas. Currently we are studying multiple sandfly pathogens with a focus on leishmaniasis, and lesser focus on vesicular stomatitis virus, bartonella, Rio Grande virus, and others. We are also studying the expansion of Plague, <i>Yersinia pestis</i>, in the state.
  </p>
  <p>
Our lab has extensive field work and computational modeling components. We sample rodents and arthropods via field surveys and then use that data to inform ecological models and landscape genetics/phylogeograp
  </p>
</div>