<div ng-include="{{projectId}}.html">

</div>

  <div class="project-thumbnail col-4"
       ng-repeat="project in projects | filter:query | orderBy:orderProp">
      <li class="project-link">
          <a href="#/projects/{{project.id}}">
              <div class="project-link">
                  <div class="project-info">HI
                      <span class="project-title">{{project.name}}
                      <br>&mdash;</span>
                      <span class="project-snippet">{{project.snippet}}</span>
                  </div>
              </div>
          </a>
      </li>
  </div>