<h1>About Leishmaniasis</h1>

<div class="col-6">
  <img width=100% src="../img/sandfly.jpg">
</div>

<div class="col-6">
  <p>
Leishmaniasis is a protozoan pathogen that infects sand flies and a variety of mammals. In the United States it infects humans, cats, dogs, and a variety of wild mammals. It has spread all the way to southeastern Oklahoma and is endemic to areas of Texas. 
  </p>
  <p>
There are multiple manifestations of the disease, the two most common forms being cutaneous and visceral leishmaniasis. Cutaneous leishmaniasis causes slow-healing pustules and lesions that are often mistaken for bacterial infections. Eventually these lesions heal but may leave scarring or cause their host to be susceptible to other secondary infections. Visceral leishmaniasis in the United States is fortunately very rare. It is a more serious infection of the inner organs that can lead to shock and death.
  </p>
  <p>
  <a href="../img/Leishmaniasis_Texas.pdf" target="_blank">Please view our brochure for more information about the disease.</a>
  </p>
  <p>
  For more information about leishmaniasis, check out the following websites: <br>

https://www.dshs.state.tx.us/idcu/disease/leishmaniasis/<br>

http://www.cdc.gov/parasites/leishmaniasis/<br>

http://www.who.int/leishmaniasis/

  </p>
</div>