<nav>
    <div class="banner" style="background-image: url(img/landscape.jpg); background-position: 0px -500px;">
        <img class="logo" src="img/leish-02.png"/>
    </div>
    <ul class="navbar-tabs">
        <li class="tab"><a href="#/about">About</a></li>
        <li class="tab"><a href="#/eco-epidemiology">Leishmaniasis Eco Epidemiology</a></li>
        <li class="tab"><a href="#/leishmaniasis">Leishmaniasis</a></li>
        <li class="tab"><a href="#/forms">Forms</a></li>
        <li class="tab"><a href="#/contact">Contact</a></li>

        <li class="tab"><a href="#/bio">Bio</a></li>

        <li class="tab"><a href="#/sandfly-distributions">Sandfly Distributions</a></li>-->
        <li class="tab"><a href="#/texas-plague-survey">Texas Plague Survey</a></li>-->
    </ul>
</nav>