<div class="navbar">
    <ul class="navbar-tabs">
        <li class="tab"><a href="#/about">About</a></li>
        <li class="tab active"><a href="#/eco-epidemiology">Eco Epidemiology</a></li>
        <li class="tab"><a href="#/leishmaniasis">Leishmaniasis</a></li>
        <li class="tab"><a href="#/forms">Forms</a></li>
        <li class="tab"><a href="#/contact">Contact</a></li>
        <li class="tab"><a href="#/contact">Team</a></li>
        <!-- <li class="tab"><a href="#/sandfly-distributions">Sandfly Distributions</a></li>-->
        <!--<li class="tab"><a href="#/texas-plague-survey">Texas Plague Survey</a></li>-->
    </ul>
</div>